<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Report</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Noto+Sans+TC:wght@900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container-fluid px-5 pt-5">
        <button class="btn btn-linkage" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop">
            <i class="bi bi-list"></i></button>

        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasTopLabel"><i class="bi bi-window-stack"></i>&nbsp;目錄 Index</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <a href="/search" class="btn btn-jumpto">市鎮氣象 City Weather Search</a>
                <a href="/detailone" class="btn btn-jumpto">詳細氣象 Weather Station Search</a>
                <a href="/wr8" class="btn btn-jumpto">市鎮氣象列表 City Weather List</a>
                <a href="/realtime" class="btn btn-jumpto">氣象站列表 Weather Station List</a>
                <a href="https://opendata.cwa.gov.tw/index" class="btn btn-jumpto" target="_blank">中央氣象署</a>
                <a href="https://www.cwa.gov.tw/V8/C/K/bilingual_glossary.html" class="btn btn-jumpto"
                    target="_blank">名詞對照表</a>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <br>
    <a href="#" id="topcontrol" title="Back to top"
        style="position: fixed; bottom: 15px; right: 30px; cursor: pointer;"><i
            class="bi bi-arrow-up-square-fill display-6 opacity-50"></i></a>
    <div class="d-flex row text-center pb-5">
        <div class="text-center col-4" id="reference"><a href="https://opendata.cwa.gov.tw/index"
                class="text-decoration-none text-light" target="_blank">資料來源：中央氣象署</a></div>
        <div class="col-4"></div>
        <div class="text-center col-4" id="reference"><a href="https://www.cwa.gov.tw/V8/C/K/bilingual_glossary.html"
                class="text-decoration-none text-light" target="_blank">資料來源：名詞對照表</a></div>
    </div>
    <div class="bg-dark">
        <footer>
            <div class="text-light text-center p-5">Weather Report Copyright &copy; 2023 All Rights Reserved by PEACEIAN
            </div>
        </footer>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>