*{font-family:'Aoboshi One', serif,'Noto Sans TC', sans-serif;}
body{background-image:linear-gradient(to right bottom, #b1ab0baf 0%, #a45761a5 100%);margin: 0;padding: 0;max-width: 100%;}
h1 {text-align: center;font-size:70px;text-decoration-color:ivory;text-shadow: 1px 0px black, -1px 0px black, 0px 1px black, 0px -1px black}
#weathertable {table-layout:fixed;text-align: center;
    color: aliceblue;width: 100%;border-collapse:collapse;border-spacing:2px;z-index: 10000}
th {position:sticky;top: 0;background-color: #1b3f81} 
/*table first line fiexd top while scrolling the screen is need to have position and top. <table> has table-layout:fixed.*/
tr{border:groove rgba(0, 0, 0, 0.7) 3px;border-collapse:separate;}
tr:nth-child(n) {background-image:linear-gradient(to left, rgba(49, 88, 229, 0.8)0%,rgba(18, 148, 177, 0.5) 100%);box-shadow: black 2px 2px 10px;}
tr:nth-child(2n) {background-image:linear-gradient(to right, rgba(231, 116, 74, 0.8)0%,rgba(199, 148, 82, 1) 100%);box-shadow: black 2px 2px 10px;}
tr:hover {background-color: rgba(255, 255, 255, 0.7);color: rgb(0, 0, 0);box-shadow: black 2px 2px 10px;backdrop-filter: blur(20px);transform: scale(1.02);transition:ease-in 1s;}
.btn-linkage {background-color: #aacce4ea;}
.btn-linkage:hover {background-color: #50679e;}
.btn-jumpto {background-color:#F5D7DB;color: #1B3358;}
.btn-jumpto:hover {background-color: #1B3358;color:#F5D7DB;}
.offcanvas-header {background-color: #F5D7DB;}
.offcanvas-body {background-color:#1B3358;}
option:nth-child(2n) {background-color:#2676bc78;}
/* the card style part */
.title {background-image:linear-gradient(to right bottom, rgba(19, 99, 142, 0.868)0%,rgba(184, 89, 129, 1)50%, rgb(214, 34, 91)100%);box-shadow: black 2px 2px 5px;backdrop-filter:blur(20px);color:antiquewhite;}
.item {background-image:linear-gradient(to right bottom, rgba(163, 108, 25, 0.785)0%,rgba(180, 142, 45, 0.7)50%,rgba(236, 219, 32, 0.7)100%);box-shadow: black 2px 2px 5px;backdrop-filter:blur(20px);}
.data {background-image:linear-gradient(to right bottom, rgba(195, 53, 119, 0.707)0%,rgba(144, 44, 141, 0.3)50%,rgba(18, 186, 164, 0.7)100%);box-shadow: black 2px 2px 5px;backdrop-filter: blur(20px);}
#weathercard {width: 50%;background-color:rgba(255, 255, 255, 0.24);box-shadow: black 2px 2px 20px;backdrop-filter: blur(20px);}
/* homepage */
.btn-login {border:solid rgb(213, 148, 148) 3px;border-radius: 10px;background-color: rgba(210, 30, 66, 0.585);text-decoration: none;color: aliceblue;text-align: center;}
/* footer */
.footer {position: absolute;bottom: 0;left: 0;width: 100%;background-color: black;}
@media (max-width:1400px){
    #detail{display: none;}
    #weathercard{width: 60%;}
    .weatherlist{font-size:1.7rem ;}
    #weatherlist{width: 180px;}
    #detailcard {font-size: 1.4rem;}
}
@media (max-width:900px){
    #detail,#detail2 {display: none;}
    #reference {flex: 100%;width: 100%;}
    #weathercard {width: 100%;}
    .weatherlist{font-size:1.6rem ;}
    #weatherlist{width: 160px;}
    #detailcard {flex: 50%;width: 100%;flex-wrap: wrap;font-size: 1.2rem;}
}
@media (max-width:800px){
    .weatherlist{font-size: 1.4rem;}
    #detailcard {flex: 100%;width: 100%;flex-wrap: wrap;font-size: 1.5rem;}
}
@media (max-width:600px){
    #weatherlist{width:120px}
    .weatherlist{font-size: 1.0rem;}
    #detailcard {flex: 100%;width: 100%;flex-wrap: wrap;font-size:1.6rem;}
}
@media (max-width:500px){
    #weatherlist{display: none;}
    .weatherlist{font-size: 1.2rem;}
    #detailcard {flex: 100%;width: 100%;flex-wrap: wrap;font-size:1.6rem;}
}
@media (max-width:400px){
    .weatherlist{font-size: 1.0rem;}
    #detailcard {font-size:1.6rem;}
    .px-5{padding: 0;}
}